h1 {
  font-family: 'Asap', sans-serif;
  text-align: left;
  vertical-align: center;
  font-size: 400%;
  font-style: normal;
  font-variant: normal;
  font-weight: bolder;
}

h3 {
  font-family: 'Asap', sans-serif;
  text-align: left;
  vertical-align: center;
  font-size: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

sub {
  font-family: 'Asap', sans-serif;
  text-align: left;
  vertical-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  padding-top: 2%;
  font-size: 130%;
  line-height: normal
}

.bigger-on-desktop {
  font-size: 400%;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
  margin-right: 0.6em;
}

.align-on-desktop-right-phone-left {
  display: inline;
  float: right;
  margin-left: 1.3em;
  margin-right: 0.6em;
}

.alignleft {
  margin-left: 2%;
  display: inline;
  float: left;
  margin-right: 1.4em;
}

.header {
  align-self: start;
  height: auto;
  width: auto;
  font-family: 'Asap', sans-serif;
  background-color: rgb(35, 36, 38);
  color: white;
}

.footer {
  margin-top: 5%;
  align-self: start;
  height: auto;
  width: auto;
  font-family: 'Asap', sans-serif;
  background-color: rgb(35, 36, 38);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold-on-desktop {
  font-weight: bold;
}

.defaultFont {
  font-family: 'Asap', sans-serif;
}

@media (max-width: 768px) {
  .bold-on-desktop {
    font-weight: normal;
  }

  .bigger-on-desktop {
    font-size: 250%;
  }

  .header, .footer {
    width: 100%;
    margin-right: 0!important;
    margin-left: 0!important;
  }

  h1 {
    font-size: 200%;
    font-weight: 500;
  }

  sub {
    font-size: 80%;
  }

  .align-on-desktop-right-phone-left {
    margin-left: 2%;
    text-align: left;
    display: inline;
    float: left;
    margin-right: 1.4em;
  }

  .hide-on-phone {
     display: none;
   }

  .show-on-phone {
    display: block;
  }
}

